[submodule "00-Libft"]
	path = 00-Libft
	url = git@github.com:juliamendesc/00-Libft.git
[submodule "01-Get_Next_Line"]
	path = 01-Get_Next_Line
	url = git@github.com:juliamendesc/01-Get_Next_Line.git
[submodule "02-Printf"]
	path = 02-Printf
	url = git@github.com:juliamendesc/02-Printf.git
[submodule "42Minitalk"]
	path = 42Minitalk
	url = git@github.com:juliamendesc/42Minitalk.git
